<ion-header>
  <ion-toolbar>
    <div slot="start">
      <ion-button expand="block" fill="clear" class=""><img class="settings-logo" src="./assets/images/mark-profile.png"></ion-button>
    </div>
    <ion-title>
      <img class="header-logo" src="./assets/images/app-logo-white.svg">
    </ion-title>
    <div slot="end">
      <ion-button expand="block" fill="clear" class=""><img class="settings-logo" src="./assets/icon/icons/icon-settings.svg"></ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="">
<div class="ion-padding">
  <div class="mt-2 card-container ion-text-center">
    <div class="card-display ion-padding">
      <div class="fs-14 text-lbgray2">Welcome,</div>
      <div class="fs-24 fw-500">Michael Collins</div>
      <div class="mt-1 mb-1 fs-14">Apply for a card to use your wallet.</div>
      <ion-button expand="block" fill="clear" class="apply-card-button">Apply for a card</ion-button>
    </div>
  </div>
</div>
<div class="activity-section ion-padding ion-text-center">
  <p class="mt-2 fs-14 text-dgray2">Your wallet activity will appear here once <br> you register for a card</p>
  <img class="mt-1 activity-image" src="./assets/images/activity-image.png">
</div>
<div class="">
</div>
</ion-content>