<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text-medium fs-12">Step 2 of 4</div>
  <div class="text-dark fs-28 fw-700">Register for Atlas Wallet</div>
  <div class="mt-2">
    <ion-item class="form-group">
      <ion-label position="stacked">First name</ion-label>
      <ion-input class="form-control"></ion-input>
    </ion-item>
    <ion-item class="form-group">
      <ion-label position="stacked">Last name</ion-label>
      <ion-input class="form-control"></ion-input>
    </ion-item>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <ion-button disabled expand="block">Next</ion-button>
</ion-footer>