.logo{
    width: 146px;
    height: 48px;
}
.logo-section{
    justify-content: center;
    display: flex;
    align-items: center;

}
.profile-icon-flag{
    height: 26px;
    width: 26px;
    margin-top: 14px;;
}
.input-main{
    --background: white;
    --border-radius: 12px;
    --min-height:60px;
    --color:#04508C;
}