<ion-header class="ion-no-border">
  <div class="ion-padding">
  <ion-toolbar class="toolbar-content">
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <div class="logo-section">
          <img class="logo" src="../assets/images/atlasbanklogo.svg">
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-right">
          <img class="profile-icon-flag" src="../assets/images/profile-icon-flag.png">
        </div>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</div>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding">

      <div class="mt-3 text-dgray1 fs-32 fw-500 ion-text-center">
        <ion-label>Welcome</ion-label>
      </div>

      <div class="fs-16 text-dgray2 ion-text-center">
        <ion-label>Register to continue</ion-label>
      </div>

      <div class="mt-2">
        <ion-item lines="none" class="fs-15 input-main" mode="md">
          <ion-label position="stacked" class="">Mobile number or email</ion-label>
          <ion-input class="fs-18 text-dgray1 input-main-text"></ion-input>
        </ion-item>
      </div>
  
      <div class="mt-1">
        <ion-button expand="block" class="fs-16 fw-500 primary-button">
         <ion-label>Register</ion-label>
        </ion-button>
      </div>
  
      <div class="mt-5 fs-15 fw-500 text-dgray1 ion-text-center">
        <ion-label>
          Issued a card by your employer?
        </ion-label>
      </div>
  
      <ion-router-link href="#">
        <div class="mt-1 fs-15 fw-500 text-primary ion-text-center">
          <ion-label>
            Register with card
          </ion-label>
        </div>
      </ion-router-link>

    </div>

  </div>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <div class="ion-padding">

      <div class="mb-1 fs-15 text-dgray1 ion-text-center">
        <ion-label>
          Already have an account?  
        </ion-label>
      </div>

      <div class="">
        <ion-button expand="block" class="mb-1 fs-16 fw-500 gray-button">
        <ion-label>login</ion-label>
        </ion-button>
      </div>

    </div>
  </div>
</ion-footer>
