<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-content">
  </ion-toolbar>
</ion-header>

<ion-content class="main-content" scroll-y="false">
  <div class="ion-padding">

    <div class="mt-5 ion-text-center">
      <img src="../assets/images/atlasbanklogo.svg">
    </div>

    <div class="ion-padding">

      <div class="mt-20 text-dgray1 fs-36 fw-500">
        <ion-label>Welcome</ion-label>
      </div>

      <div class="mt-1 fs-16 text-dgray1 sublabel">
        <ion-label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar amet lorem libero cras et urna, fringilla aenean sagittis.</ion-label>
      </div>

    </div>

  </div>
</ion-content>
<ion-footer>
  <div class="ion-padding">

  <div class="">
    <ion-button expand="block" class="mb-1 fs-16 fw-500 gray-button">
      <ion-label>Register</ion-label>
    </ion-button>
  </div>

  <div class="">
    <ion-button expand="block" class="fs-16 fw-500 primary-button">
      <ion-label>Login</ion-label>
    </ion-button>
  </div>

  </div>
</ion-footer>
