<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="header-logo" src="./assets/images/app-logo.svg">
    </ion-title>
    <div slot="end">
       <div class="btn-flag ion-activatable ripple-parent" style="background-image: url('https://flagcdn.com/za.svg')">
         <ion-ripple-effect></ion-ripple-effect>
       </div>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" scroll-y="false">
  <div class="mt-3">
    <span class="fw-600 fs-28">Welcome</span> <br>
    <span class="text-medium">Register to continue</span>
  </div>
  <div class="mt-2">
    <ion-item class="form-group">
      <ion-label position="stacked">Mobile number or email</ion-label>
      <ion-input class="form-control" ></ion-input>
    </ion-item>
    <ion-button expand="block" disabled>Register</ion-button>
  </div>
  <div class="mt-4">
    <div class="fs-14">Issued a card by your employer?</div>
    <ion-button expand="block" fill="clear" class="fs-14 fw-600">Register with card</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <div class="fs-14 text-dark mb-1">Already have an account? </div>
  <ion-button color="light-bluish-gray01" expand="block">Login</ion-button>
</ion-footer>
