<ion-content class="ion-padding" scroll-y="false" [fullscreen]="true">
  <div class="vertical-container">
    <div class="logo-container">
      <img src="./assets/images/app-logo.svg" alt="app-logo">
    </div>
    <div class="content-container">
      <div class="fs-34 fw-600">Welcome</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar amet lorem libero cras et urna, fringilla
        aenean sagittis.</p>
      <div class="mt-2">
        <ion-button expand="block" color="light-bluish-gray01" class="mb-1">Register</ion-button>
        <ion-button expand="block">Login</ion-button>
      </div>
    </div>
  </div>
</ion-content>