<ion-header>
  <ion-toolbar>
    <ion-buttons class="" slot="start">
      <ion-button (click)="modal.dismiss()"><img src="./assets/icon/icons/icon-left.svg"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="page-title-container">
    <div class="text-dark fs-28 fw-500">Apply for the<br> Atlas Pay Card</div>
  </div>
  <div class="ion-text-center card-container">
    <img src="./assets/icon/icons/atlas-bank-card.svg" alt="app-logo">
    <p class="fs-14 text-dgray2">Please complete the following form<br> accurately. You can save your progress<br>and return at any time.</p>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <ion-button class="mb-1" expand="block" color="primary">Apply now</ion-button>
  <ion-button expand="block" fill="clear" class="fs-14 fw-600">Back to main</ion-button>
</ion-footer>
