<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="" slot="start">
        <ion-button (click)="modal.dismiss()"><img src="./assets/icon/icons/icon-left.svg"></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="page-title-container">
      <div class="fs-12 fw-400 text-dgray2">Step 5 of 5</div>
      <div class="text-dark fs-28 fw-500">Take a <br> selfie photo</div>
    </div>
    <p class="fs-14 ion-text-wrap text-dgray2 mb-3">Take a picture that shows your face and today’s <br> date together in the picture</p>
    <ion-button fill="clear" class="text-dgray2 upload-photo">
      <ion-label><img src="./assets/icon/icons/camera-gray.svg"><br><span class="camera-label">Take a photo or upload <br> from gallery</span></ion-label>
    </ion-button>
    <div class="mt-3 fs-14 text-dgray2">For the best image:</div>
    <ion-item lines="none" class="list-container">
      <ul>
        <li class="fs-14 text-dgray2">Face directly toward the camera</li>
        <li class="fs-14 text-dgray2">Center your face in the frame</li>
        <li class="fs-14 text-dgray2">Stand in front of a plain background</li>
        <li class="fs-14 text-dgray2">Use even lighting</li>
      </ul>
    </ion-item>
  </ion-content>
  <ion-footer class="ion-padding ion-text-center">
    <ion-button class="" color="primary" expand="block">Finish</ion-button>
    <ion-button expand="block" fill="clear" class="mt-1 fs-15 fw-500">Save & exit</ion-button>
  </ion-footer>
  </div>