<ion-header>
  <ion-toolbar>
    <div slot="start">
      <ion-button expand="block" fill="clear" class=""><img class="settings-logo" src="./assets/images/mark-profile.png"></ion-button>
    </div>
    <ion-title>
      <img class="header-logo" src="./assets/images/app-logo-white.svg">
    </ion-title>
    <div slot="end">
      <ion-button expand="block" fill="clear" class=""><img class="settings-logo" src="./assets/icon/icons/icon-settings.svg"></ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="ion-padding">
  <div class="mb-2 total-balance-container ion-text-center">
    <div class="fs-16 text-lbgray2">Wallet Balance</div>
    <div class="fs-44 text-lbgray2">$ 234.09</div>
  </div>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button class="send-money"><img class="" src="./assets/icon/icons/icon-send-money.svg"></ion-button>
      <div class="text-uppercase fs-10 text-lbgray2">Send money</div>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button class="send-money"><img class="" src="./assets/icon/icons/icon-pay-bills.svg"></ion-button>
      <div class="text-uppercase fs-10 text-lbgray2">pay bills</div>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button class="send-money"><img class="" src="./assets/icon/icons/icon-topup-mobile.svg"></ion-button>
      <div class="text-uppercase fs-10 text-lbgray2">TOPUP Mobile</div>
    </ion-col>
  </ion-row>
</div>
  <div class="activity-section ion-padding">
    <ion-item lines="none" class="mb-1 recent-transactions">
      <div slot="start" class="fs-16 text-dgray2">Recent Transactions</div>
      <div slot="end" class="right-label"><ion-button fill="outline" color="primary" class="fs-10 fw-800 text-uppercase view-button">View ALL</ion-button></div>
    </ion-item>
    <ion-item lines="none" class="recent-transactions">
      <ion-label slot="start">
        <div class="fs-12 text-dgray2">07012022  •  12:39: 45  •  Tue</div>
        <div slot="" class="margint-10 fs-18 fw-500 text-dark">Walmart</div>
      </ion-label>
      <ion-label slot="end" class="right-label">
        <div class="fs-10 fw-800 ion-text-right">PAYMENT</div>
        <div class="margint-10 fs-18 fw-500 text-danger">-$45.78</div>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="mt-1 recent-transactions">
      <ion-label slot="start">
        <div class="fs-12 text-dgray2">07012022  •  12:39: 45  •  Tue</div>
        <div slot="" class="margint-10 fs-18 fw-500 text-dark">Walgreens</div>
      </ion-label>
      <ion-label slot="end" class="right-label">
        <div class="fs-10 fw-800 ion-text-right">PAYMENT</div>
        <div class="margint-10 fs-18 fw-500 text-danger price=label">-$325.78</div>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="mt-1 recent-transactions">
      <ion-label slot="start">
        <div class="fs-12 text-dgray2">07012022  •  12:39: 45  •  Tue</div>
        <div slot="" class="margint-10 fs-18 fw-500 text-dark">Paypal</div>
      </ion-label>
      <ion-label slot="end" class="right-label">
        <div class="fs-10 fw-800 ion-text-right">REFUND</div>
        <div class="margint-10 fs-18 fw-500 text-success price=label">$45.78</div>
      </ion-label>
    </ion-item>
  </div>
    <!-- modal open more -->
    <ion-modal handle="false" #modal trigger="open-more-transaction" [initialBreakpoint]="0.50 " [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content class="modal-content ">
          <div class="fs-16 mt-1 ion-padding">More Transactions</div>
          <ion-item  class="item-load-wallet">
            <div class="link-logo"><img class="" src="./assets/icon/icons/icon-load-wallet.svg"></div>
            <div class="fs-16">Load Wallet</div>
            <div slot="end" class=""><img class="" src="./assets/icon/icons/icon-right2.svg"></div>
          </ion-item>
          <ion-item  class="item-pay-merchant">
            <div class="link-logo"><img class="" src="./assets/icon/icons/icon-pay-merchant.svg"></div>
            <div class="fs-16">Pay Merchant</div>
            <div slot="end" class=""><img class="" src="./assets/icon/icons/icon-right2.svg"></div>
          </ion-item>
          <ion-item  class="item-link-bank-account">
            <div class="link-logo"><img class="" src="./assets/icon/icons/icon-link-bank-account.svg"></div>
            <div class="fs-16">Link Bank Account</div>
            <div slot="end" class=""><img class="" src="./assets/icon/icons/icon-right2.svg"></div>
          </ion-item>
        </ion-content>
        <ion-footer>
          <ion-tabs>  
            <ion-fab vertical="bottom" horizontal="center" translucent="true">
              <ion-fab-button class="qr-button">
                <img class="" src="./assets/icon/icons/icon-qrcode.svg">
              </ion-fab-button>
              <div class="fs-10 text-dark qr-label">QR Code</div>
            </ion-fab>
            <ion-tab-bar slot="bottom" class="ion-no-border">
              <ion-tab-button tab="">
                <img class="" src="./assets/icon/icons/icon-home.svg">
                <div class="text-dark tab-label-home ">Home</div>
              </ion-tab-button>
              <ion-tab-button tab="" class="comments">
                <img class="" src="./assets/icon/icons/icon-card.svg">
                <ion-badge></ion-badge>
                <div class="text-dark tab-label-card">My card</div>
              </ion-tab-button>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="128 17 122.5 31">
                <path d="m 128 18 c 7.606 -1 15.493 1.6657 21.941 6.587 l 18.272 13.9442 c 12.796 9.7659 30.604 9.5442 43.153 -0.5372 l 15.983 -12.8392 c 6.57 -5.2779 14.745 -8.1548 23.172 -8.1548 h -0.521 v 31 h -122 z" stroke="#FFFFFF" fill="white" s/>
              </svg>
              <ion-tab-button tab="" class="notifs">
                <img class="" src="./assets/icon/icons/icon-activity.svg">
                <ion-badge></ion-badge>
                <div class="text-dark tab-label-activity">Activity</div>
              </ion-tab-button>
              <ion-tab-button tab="">
                <ion-button size="small" id="open-more-transaction" class="more-button" fill="clear"><img class="" src="./assets/icon/icons/icon-more.svg"></ion-button>
                <div class="text-dark tab-label-more">More</div>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
        </ion-footer>
      </ng-template>
    </ion-modal>
    <!-- modal open more -->
</ion-content>
<ion-footer>
  <ion-tabs>  
    <ion-fab vertical="bottom" horizontal="center" translucent="true">
      <ion-fab-button class="qr-button">
        <img class="" src="./assets/icon/icons/icon-qrcode.svg">
      </ion-fab-button>
      <div class="fs-10 text-dark qr-label">QR Code</div>
    </ion-fab>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button tab="">
        <img class="" src="./assets/icon/icons/icon-home.svg">
        <div class="text-dark tab-label-home ">Home</div>
      </ion-tab-button>
      <ion-tab-button tab="" class="comments">
        <img class="" src="./assets/icon/icons/icon-card.svg">
        <ion-badge></ion-badge>
        <div class="text-dark tab-label-card">My card</div>
      </ion-tab-button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="128 17 122.5 31">
        <path d="m 128 18 c 7.606 -1 15.493 1.6657 21.941 6.587 l 18.272 13.9442 c 12.796 9.7659 30.604 9.5442 43.153 -0.5372 l 15.983 -12.8392 c 6.57 -5.2779 14.745 -8.1548 23.172 -8.1548 h -0.521 v 31 h -122 z" stroke="#FFFFFF" fill="white" s/>
      </svg>
      <ion-tab-button tab="" class="notifs">
        <img class="" src="./assets/icon/icons/icon-activity.svg">
        <ion-badge></ion-badge>
        <div class="text-dark tab-label-activity">Activity</div>
      </ion-tab-button>
      <ion-tab-button tab="">
        <ion-button size="small" id="open-more-transaction" class="more-button" fill="clear"><img class="" src="./assets/icon/icons/icon-more.svg"></ion-button>
        <div class="text-dark tab-label-more">More</div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>