<ion-header>
  <ion-toolbar>
    <ion-buttons class="" slot="start">
      <ion-button (click)="modal.dismiss()"><img src="./assets/icon/icons/icon-left.svg"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="page-title-container">
    <div class="text-dark fs-28 fw-500">About the <br> Account</div>
  </div>

</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <ion-button class="" color="primary" expand="block">Continue</ion-button>
  <ion-button expand="block" fill="clear" class="mt-1 fs-15 fw-500">Cancel</ion-button>
</ion-footer>
