.toolbar{
    --background: #04508C;
}
.main-content{
    --background: #04508C;
}
.activity-container{
    background-color: white;
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
ion-item{
    --background: white;
    --padding-start:10px
}
.right-label{
    margin-right: -10px;
}
.search-input{
    --background:#E7ECF1;
    height: 48px;
    border-radius: 12px;
    --padding-start:10px;
    --padding-top:5px;
}
.separator{
    border: 1px solid #E7ECF1;
}
.separator2{
    border: 1px solid #EEEEEE;
}
.recent-transactions{
    --padding-start:1px;
    --background: white;
}
.price-label,
.right-label{
    margin-right: -10px;
}
.transaction-container{
    margin-top: -40px;
}
.modal-footer,
.modal-content,
.modal-header{
    --background: white;
    background-color: white;
}
.checkbox{
    --background:#D8D8D8;
    --border-color:#D8D8D8;
    --checkmark-width:3px;
}
.modal-title{
    margin-left: 12px;
}
.checkbox-item{
    --padding-start:1px;
}
.date-end,
.date-start{
    margin-left: -5px;
    border-bottom:1px solid black;
}
.arrow-right-logo{
    margin-top: 30px;
    margin-left: -10px;
}
ion-tabs{
    ion-fab {
		margin-bottom: 45px;
		ion-fab-button {
			--box-shadow: none;
		}
	}
	ion-tab-bar {
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
		--border: 0;
		--background: rgb(230, 227, 227);
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		max-width: 400px;
        height: 92px;
        margin: auto;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: white;
			position: absolute;
            height: 65px;
		}
		ion-tab-button {
			--background: white;
		}
		ion-tab-button.comments {
			margin-right: 0px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
		}
		svg {    
			width: 120px;
            height: 50px;
			margin-top: -65px;
		}
	}
}
.tab-label-card,
.tab-label-activity,
.tab-label-home{
    padding-top: 5px;
}
.tab-label-more{
    margin-top: px;
}
.more-button{
    margin-top: -5px;
}
.qr-label{
    position: absolute;
    left: 13%;
    top: 120%;
}
.qr-button{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}
.modal-content{
    --background: white;
}
.item-link-bank-account,
.item-pay-merchant,
.item-load-wallet{
    --min-height:70px;
    --background:white;
    --padding-start:25px;
}
.link-logo{
    margin-right: 1.2rem;
}
.separator{
    border-bottom: 1px solid black;
}
ion-item{ --border-color: #E7ECF1; }
