ion-content,
ion-header ion-toolbar{
  --background:#04508C;
}
.settings-logo{
  height: 24px;
  width: 24px;
}
.card{
    background-image:url(/assets/images/atlas-card.svg);
    height: 202px;
    background-position: center;
    background-repeat: no-repeat;
    width: 320px;
    height: 30vh;
    margin: auto;
}
.activity-section{
    background-color: white;
    height: 694px;
    border-radius: 30px;
}
.recent-transactions{
    --padding-start:1px;
    --background: white;
}
.right-label{
    margin-right: -10px;
}
.price-label{
    margin-right: -10px;
}
.view-button{
    width: 86px;
    height: 36px;
    --border-radius: 33px;
}
.reveal-button{
    width: 40px;
    height: 40px;
    background: #000000;
    border-radius:100px;
    margin-right: 0.5rem;
}
.item-card{
    --background: #1C154C;
    --padding-start:1px;
    margin-left: -15px;
}
.toggle-main{
    max-height: 24px;
    --handle-width:20px;
    margin-right: -20px;
}
ion-tabs{
    ion-fab {
		margin-bottom: 45px;
		ion-fab-button {
			--box-shadow: none;
		}
	}
	ion-tab-bar {
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.25);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
		--border: 0;
		--background: rgb(230, 227, 227);
		position: absolute;
		bottom: 0;
		left:0; right: 0;
		max-width: 500px;
        height: 92px;
        margin: auto;
		&:after{
			content: " ";
			width: 100%;
			bottom: 0;
			background: white;
			position: absolute;
            height: 65px;
		}
		ion-tab-button {
			--background: white;
		}
		ion-tab-button.comments {
			margin-right: 0px;
		}
		ion-tab-button.notifs {
			margin-left: 0px;
		}
		svg {    
			width: 120px;
            height: 50px;
			margin-top: -65px;
		}
	}
}
.tab-label-card,
.tab-label-activity,
.tab-label-home{
    padding-top: 5px;
}
.tab-label-more{
    margin-top: px;
}
.more-button{
    margin-top: -5px;
}
.qr-label{
    position: absolute;
    left: 13%;
    top: 120%;
}
.qr-button{
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}
.modal-content{
    --background: white;
}
.item-link-bank-account,
.item-pay-merchant,
.item-load-wallet{
    --min-height:70px;
    --background:white;
    --padding-start:25px;
}
.link-logo{
    margin-right: 1.2rem;
}
.separator{
    border-bottom: 1px solid black;
}
ion-item{ --border-color: #E7ECF1; }

