<ion-header>
  <ion-toolbar class="ion-toolbar">
    <ion-title class="">
      <img class="header-logo" src="./assets/images/app-logo.svg">
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <div class="mt-5 mb-2">
    <svg width="170" height="170" viewBox="0 0 170 170" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle opacity="0.1" cx="85" cy="85" r="85" fill="#43B864" />
      <circle opacity="0.3" cx="85" cy="85" r="57" fill="#43B864" />
      <circle cx="85" cy="85" r="36" fill="#43B864" />
      <path d="M94 79L83 90L78 85" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <div class="fs-24 fw-500 mt-1">Registration<br>Complete</div>
    <div class="fs-14">Your Atlas Wallet account has been created</div>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <div class="fs-15 text-dgray1 mb-1">Start using your account</div>
  <ion-button expand="block" fill="clear" class="mb-1 fs-15 fw-500">Login here</ion-button>
</ion-footer>
