.form-control {
    border: none;
    width: 100%;
    outline: none;
    transition: border 250ms ease-in-out;
    height: 45px;
    background: transparent;

    &:disabled {
        background: transparent;
        border: none;
    }
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
  border-radius: 12px;
  position: relative;

  ion-label {
    color: var(--ion-color-primary)!important;
    font-size: 12px!important;
    margin-bottom: 0!important;
  }

  &.w-icon {
    .form-control {
      --padding-end: 2rem;
    }
  }

  .form-control {
    height: 38px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-end: 0;
  }

  .type-toggle {
    position: absolute;
    right: 1rem;
    color: var(--ion-color-dark);
    bottom: 6px;
  }
}

ion-item.form-group {
  --background: var(--ion-color-light-bluish-gray02);
  --inner-border-width: 0!important;
  --padding-start: 12px;
  --inner-padding-end: 8px;
  border: 1px solid var(--ion-color-light-bluish-gray02);
  --min-height: 62px;

  &.item-has-focus {
    --background: #fff;
  }
}


.pincode {
  margin-top: 10px;

  .form-control {
    display: inline-block;
    background: var(--ion-color-light-bluish-gray02);
    border: 1px solid var(--ion-color-light-bluish-gray02);
    width: 50px;
    height: 60px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    --padding-end: 0;
    font-size: 24px;
    margin: 2px;

    &.has-focus {
      background: #fff;
    }
  }
}

.form-validation {
  padding: 14px;
  background: #F9D4D4;
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  color: var(--ion-color-danger);
  text-align: left;

  img {
    margin: 2px 14px 2px 6px;
  }
}