<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="fs-20 fw-400 mt-1">My Atlas Paycode</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="paycode-container ion-padding ion-text-center">
    <div class=""><img class="" src="./assets/images/qr-code.svg"></div>
    <div class="fs-12 text-uppercase mt-1">Atlas Paycode</div>
    <div class="fs-28 fw-500">9038-7574-756</div>
    <div class="mt-1"><img class="" src="./assets/images/barcode.svg"></div>
    <div class="fs-12 text-uppercase mt-2">Code Expires in</div>
    <div class="fs-18 fw-500 text-primary">04:34</div>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" fill="clear" class="mb-2 fs-15 fw-500">back to main</ion-button>
</ion-footer>