<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-content">
    <ion-row>

      <ion-col>
      </ion-col>
      <ion-col>
        <div class="mt-1 logo-section">
          <img class="logo" src="../assets/images/app-logo.svg">
        </div>
      </ion-col>
      <ion-col>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="content-container">

    <div class="check-container">
      <img class="" src="../assets/images/check.svg">
    </div>

    <div class="mt-1 ion-text-center fs-24">Registration<br>Complete</div>
    
    <div class="mt-1 fs-14 ion-text-center text-dgray2">Your Atlas Wallet account has been created</div>

    <div class="footer-label ion-text-center">
      <div class="fs-15">Start using your account</div>

      <div class="mt-1 fs-15 fw-500">
        <ion-router-link color="primary" class="" href="#">Login here</ion-router-link>
      </div>
    </div>

  </div>

</ion-content>
