.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 12px;

  ion-checkbox {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    --background: #E6E8EB;
    --border-color: #E6E8EB;
  }

  div {
    width: calc(100% - (30px + 1rem));
    line-height: 1.5;
    text-align: left;
  }
}

ion-footer {
   ion-button {
      margin: 0;
   }
}

ion-modal{
  --backdrop-opacity:0.5;
}
.header-container{
  height: 6vh;
}
.add-button{
  height: 60px;
  width: 60px;
  --background:white;
  --border-radius: 50%;
  --border-color:#C0C6CB;
  --background-activated:#C0C6CB;
}
.delete-button{
  height: 60px;
  width: 60px;
  --border-radius: 50%;
}
