<div class="ion-page">
<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="./assets/images/app-logo.svg">
    </ion-title>
    <div slot="end">
      <div class="btn-flag ion-activatable ripple-parent" style="background-image: url('https://flagcdn.com/za.svg')">
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" scroll-y="false">

  <div class="mt-1">
    <div class="fs-20 fw-800 ion-text-center">marksmith81@gmail.com</div>
    <div class="mt-1 ion-text-center"><img class="header-logo" src="./assets/images/mark-profile.png"></div>
    <div class="fs-16 margint-5 fw-400 ion-text-center">Mark</div>
  </div>
  
  <div class="mt-1">
    <ion-item class="form-group w-icon">
      <ion-label position="stacked">Password</ion-label>
      <ion-input [type]="this.showPassword ? 'text' : 'password'" class="form-control"></ion-input>
      <a class="type-toggle" (click)="toggleShow()">
        <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
        <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
      </a>
    </ion-item>

    <div class="form-validation">
      <img src="./assets/icon/icons/x-octagon.svg">
      <div>Password didn’t match or it does not have the correct characters. Please try again.</div>
    </div>

    <ion-row>
      <ion-col size="6" class="flex-center">
        <div class="checkbox-container w-100">
          <ion-checkbox slot="start" mode="md"></ion-checkbox>
          <div>Remember me</div>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-text-right">
        <ion-button size="small" class="fw-800 fs-12 m-0" fill="clear">Forgot password?</ion-button>
      </ion-col>
    </ion-row>

    <ion-button expand="block" disabled>Login</ion-button>

    <div class="ion-text-center mt-2 mb-2">
      <ion-button fill="clear">
        <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.3572 20.7143V14.4202C10.3572 12.1757 11.9809 10.3571 13.9837 10.3571H18.6429" stroke="#333333"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M47.6429 20.7143V14.4202C47.6429 12.1757 46.0193 10.3571 44.0167 10.3571H39.3572" stroke="#333333"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M10.3572 37.2857V43.5798C10.3572 45.8232 11.9809 47.6428 13.9837 47.6428H18.6429" stroke="#333333"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M47.6429 37.2857V43.5798C47.6429 45.8232 46.0193 47.6428 44.0167 47.6428H39.3572" stroke="#333333"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M17.6071 22.7857V26.9286" stroke="#333333" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M38.3215 22.7857V26.9286" stroke="#333333" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M22.7858 37.2857C24.2993 38.9496 30.965 40.967 35.2143 37.2857" stroke="#333333" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
          <path d="M29 22.7857V31.2878C29 31.2878 28.482 33.1428 26.9286 33.1428" stroke="#333333" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </ion-button>
    </div>

    <!-- modal -->
    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement">
      <ng-template>
        <ion-header >
          <ion-toolbar class="header-container">
            <ion-buttons class="" slot="end">
              <ion-button (click)="modal.dismiss()"><img src="./assets/icon/icons/exit-modal.svg"></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        
        <ion-content class="ion-padding ion-text-center">
          <div class="fs-24 fw-500 mb-3">Switch Profile</div>
          <ion-row>
            <ion-col>
              <img class="mb-1" src="./assets/images/mark-profile-switch.png">
              <div class="fs-16">Mark</div>
            </ion-col>

            <ion-col>
              <img class="mb-1" src="./assets/images/jericho-profile.png">
              <div class="fs-16">Jericho</div>
            </ion-col>

            <ion-col>
              <img class="mb-1" src="./assets/images/michelle-profile.png">
              <div class="fs-16">Michelle</div>
            </ion-col>
          </ion-row>

          <ion-row class="mt-2">
            <ion-col>
              <img class="mb-1" src="./assets/images/jane-profile.png">
              <div class="fs-16">Jane</div>
            </ion-col>

            <ion-col>
              <img class="mb-1" src="./assets/images/kris-profile.png">
              <div class="fs-16">Kris</div>
            </ion-col>

            <ion-col>

            </ion-col>

          </ion-row>

          <div class="ion-text-center">
            <ion-button fill="outline" class="mt-2 add-button"><img class="" src="./assets/icon/icons/add-grey.svg"></ion-button>
          </div>

          <div class="ion-text-center">
            <ion-button color="dark" class="mt-2 delete-button"><img class="" src="./assets/icon/icons/trash-grey.svg"></ion-button>
          </div>
          
        </ion-content>
        <ion-footer class="ion-padding ion-no-border ion-text-center">

          <div class="fs-15 mb-1">Don’t have an account?</div>
          
          <ion-button expand="block" color="light-bluish-gray01">Register</ion-button>

        </ion-footer>
      </ng-template>
    </ion-modal>
    </div>
    <!-- modal -->

</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <div class="fs-14 text-dark mb-1 flex-center-center">Not you? <ion-button id="open-modal" size="small" fill="clear" class="ion-no-margin fw-800">Switch account</ion-button></div>
</ion-footer>
</div>