<ion-header class="ion-no-border">
  <ion-toolbar class="mt-1 toolbar-content">
    <ion-title class="ion-text-center">
      <img class="header-logo" src="./assets/images/app-logo.svg">
    </ion-title>
    <div slot="end">
       <div class="btn-flag ion-activatable ripple-parent" style="background-image: url('https://flagcdn.com/za.svg')">
         <ion-ripple-effect></ion-ripple-effect>
       </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false" [fullscreen]="true">

  <div class="mt-2 fs-20 fw-500 ion-text-center">marksmith81@gmail.com</div>
  <div class="mt-1 ion-text-center"><img class="header-logo" src="./assets/images/mark-profile.png"></div>
  <div class="fs-16 margint-5 fw-400 ion-text-center">Mark</div>

  <ion-item lines="none" class="mt-1 form-group">
    <ion-label position="stacked">Password</ion-label>
    <ion-input mode="md" type="password" class="fs-18" mode="md"></ion-input>
    <ion-button class="password-button" slot="end" fill="clear"><img slot="end" class="logo" src="../assets/icon/icons/password.svg"></ion-button>
  </ion-item>

  <ion-row class="mt-1">
    <ion-col size="1" class="check-box">
      <ion-checkbox mode="md" class="check-remember"></ion-checkbox>
    </ion-col>

    <ion-col class="">
      <div class="fs-12 text-primary">Remember me</div>
    </ion-col>

    <ion-col class="ion-text-right">
      <div class="fs-12 fw-500">
        <ion-router-link color="primary" class="" href="#">Forgot password?</ion-router-link>
      </div>
    </ion-col>
  </ion-row>

  <ion-button expand="block" class="mt-1 fs-15 text-initial" color="primary">Login</ion-button>

  <div class="ion-text-center face-scan">
    <img class="header-logo" src="./assets/icon/icons/facial-scan.svg">
  </div>

</ion-content>

<ion-footer class="ion-padding ion-no-border">


      <div class="mb-1 fs-15 text-dgray1 ion-text-center">Not you?&nbsp;&nbsp;<ion-router-link id="switch-profile" color="primary" class="">Switch account</ion-router-link></div>

      <!-- modal -->
      <ion-modal class="modal-main" #modal trigger="switch-profile" [presentingElement]="presentingElement">
        <ng-template>
          <ion-header class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()"><img class="exit-modal-logo" src="./assets/icon/icons/exit-modal.svg"></ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>

           <div class="fs-24 fw-500 ion-text-center">Switch profile</div>

           <ion-row class="mt-3">
            <ion-col class="ion-text-center">
              <div class=""><img class="header-logo" src="./assets/images/mark-profile-switch.png"></div>
              <div class="mt-1 fs-16">Mark</div>
            </ion-col>

            <ion-col class="ion-text-center">
              <div class=""><img class="header-logo" src="./assets/images/jericho-profile.png"></div>
              <div class="mt-1 fs-16">Jericho</div>
            </ion-col>

            <ion-col class="ion-text-center">
              <div class=""><img class="header-logo" src="./assets/images/michelle-profile.png"></div>
              <div class="mt-1 fs-16">Michelle</div>
            </ion-col>
           </ion-row>

           <ion-row class="mt-1">
            <ion-col class="ion-text-center">
              <div class="ion-text-center"><img class="header-logo" src="./assets/images/jane-profile.png"></div>
              <div class="mt-1 fs-16">Jane</div>
            </ion-col>

            <ion-col class="ion-text-center">
              <div class="ion-text-center"><img class="header-logo" src="./assets/images/kris-profile.png"></div>
              <div class="mt-1 fs-16">Kris</div>
            </ion-col>

            <ion-col>
          
            </ion-col>
           </ion-row>

           <div class="ion-text-center">
            <ion-button fill="outline" class="mt-2 add-button"><img class="" src="./assets/icon/icons/add-grey.svg"></ion-button>
           </div>

           <div class="ion-text-center">
            <ion-button color="dark" class="mt-2 delete-button"><img class="" src="./assets/icon/icons/trash-grey.svg"></ion-button>
           </div>
          
          


          </ion-content>
          <ion-footer class="ion-padding ion-no-border ion-text-center">

            <div class="fs-15 mb-1">Don’t have an account?</div>
            
            <ion-button expand="block" color="light-bluish-gray01">Register</ion-button>

          </ion-footer>
        </ng-template>
      </ion-modal>
      <!-- modal -->

</ion-footer>
