<ion-header>
  <ion-toolbar>
    <ion-buttons class="" slot="start">
      <ion-button (click)="modal.dismiss()"><img src="./assets/icon/icons/icon-left.svg"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="page-title-container">
    <div class="fs-12 fw-400 text-dgray2">Step 2 of 5</div>
    <div class="text-dark fs-28 fw-500">Personal<br>Information</div>
  </div>
  <p class="fs-14 ion-text-wrap text-dgray2 mb-2">Please enter your information below. Your card <Br> cannot be approved without complete and <br> accurate information.</p>
  <ion-item class="form-group">
    <ion-label position="stacked">First name</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label position="stacked">Last name</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label position="stacked">Email</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label position="stacked">Phone</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label position="stacked">Date of birth</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label position="stacked">SSN</ion-label>
    <ion-input class="form-control"></ion-input>
  </ion-item>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <ion-button class="" color="primary" expand="block">Continue</ion-button>
  <ion-button expand="block" fill="clear" class="mt-1 fs-15 fw-500">Save & exit</ion-button>
</ion-footer>
