<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" color="dark">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="text-medium fs-12">Step 4 of 4</div>
  <div class="text-dark fs-28 fw-700">Set your Account Password </div>
  <div class="mt-1">
    <p class="mb-1text-medium fs-14">Your password must be 8 characters long. It must include a number, uppercase
      letter, lowercase letter and a special character.</p>
    <div class="mt-2">
      <ion-item class="form-group">
        <ion-label position="stacked">Password</ion-label>
        <ion-input class="form-control" type="password"></ion-input>
      </ion-item>
      <ion-item class="form-group">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input class="form-control" type="password"></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-padding ion-text-center">
  <ion-button disabled expand="block">Finish Registration</ion-button>
</ion-footer>