.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 14px;
  
    ion-checkbox {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
      --background: #E6E8EB;
      --border-color: #E6E8EB;
      --border-radius: 9px;
    }
    div {
      width: calc(100% - (30px + 1rem));
      line-height: 1.5;
      text-align: left;
    }
  }
  .ion-list-main{
    --padding-start:0px;
  }
  .page-title-container{
    height: 10vh;
  }
  ion-radio{
    width: 30px;
    height: 30px;
    margin-right: 1.2rem;
    --color:#C0C6CB;
    background-color:#C0C6CB;
    border-radius: 47px; 
  }
  .modal-main{
    --border-radius: 30px;
  }
  .header-container{
    height: 7vh;
  }
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #C0C6CB;
    border-radius: 50%;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #04508C;
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }
  .radio-label{
    margin-top: 20px;
    margin-left: 1rem;
  }